<div class="sidebar">
  <form class="options" ng-submit="search()">
    <label class="flow list_friends requires-authentication">
      <input
        ng-change="changePhotoFeature('flow')"
        type="radio"
        ng-model="selectedFeature"
        value="friends"
      ><span>Flow</span>
    </label>
    <label class="popular list_popular">
      <input
        ng-change="changePhotoFeature()"
        type="radio"
        ng-model="selectedFeature"
        value="popular"
      ><span>Popular</span>
    </label>
    <label class="editors list_editors">
      <input
        ng-change="changePhotoFeature()"
        type="radio"
        ng-model="selectedFeature"
        value="editors"
      ><span>Editors'</span>
    </label>
    <label class="upcoming list_upcoming">
      <input
        ng-change="changePhotoFeature()"
        type="radio"
        ng-model="selectedFeature"
        value="upcoming"
      ><span>Upcoming</span>
    </label>
    <label class="fresh list_fresh_today">
      <input
        ng-change="changePhotoFeature()"
        type="radio"
        ng-model="selectedFeature"
        value="fresh_today"
      ><span>Fresh</span>
    </label>
    <label class="search list_search" data-drawer="search">
      <input
        ng-change="changePhotoFeature()"
        type="radio"
        ng-model="selectedFeature"
        class="search nav-button"
        value="search"
      >
      <span>Search</span>
      <section class="search mini drawer">
          <label>
            <input 
              type="textfield"
              ng-model="searchTerm"
              placeholder="Search" /> 
          </label>
      </section>
    </label>
  </form>
  <div class="options nav-button unauth"><a href="" ng-click="logout()">Logout</a></div>
  <div class="options nav-button auth"><a href="" ng-click="login()">Login</a></div>
</div>

