<article>
  <div class="photo-wrapper">
    <div ng-repeat="photo in photos" class="photo-container">
      <div class="align-center pack-center">
        <img 
          px-photoview="photo"
          data-photo-id="{{photo.id}}"
          data-ng-alt="{{photo.alt}}"
          data-ng-width="{{photo.width}}"
          data-ng-height="{{photo.height}}"
        />
      </div></div>
    </div>
  </div>

  <footer>
    <section class="info drawer">
      <a href="" class="close-drawer" ng-click="closeDrawers()">Close</a>
      <h1>{{activePhoto.name}}</h1>
      <p class="description" ng-bind-html-unsafe="activePhoto.description"></p>
      <dl class="highlight">
        <dt ng-show="activePhoto.rating">Pulse</dt>                <dd>{{activePhoto.rating}}</dd>
        <dt ng-show="activePhoto.highest_rating">Highest</dt>      <dd>{{activePhoto.highest_rating}}</dd>
        <dt ng-show="activePhoto.times_viewed">Views</dt>          <dd>{{activePhoto.times_viewed}}</dd>
        <dt ng-show="activePhoto.votes_count">Votes</dt>           <dd>{{activePhoto.votes_count}}</dd>
        <dt ng-show="activePhoto.favorites_count">Favs</dt>        <dd>{{activePhoto.favorites_count}}</dd>
      </dl>
      <dl>
        <dt ng-show="activePhoto.uploaded">Uploaded</dt>           <dd>{{activePhoto.uploaded}}</dd>
        <dt ng-show="activePhoto.camera">Camera</dt>               <dd>{{activePhoto.camera}}</dd>
        <dt ng-show="activePhoto.focal_length">Focal Length</dt>   <dd ng-show="activePhoto.focal_length">{{activePhoto.focal_length}}mm</dd>
        <dt ng-show="activePhoto.shutter_speed">Shutter Speed</dt> <dd>{{activePhoto.shutter_speed}}</dd>
        <dt ng-show="activePhoto.aperture">Aperture</dt>           <dd ng-show="activePhoto.aperture">F{{activePhoto.aperture}}</dd>
        <dt ng-show="activePhoto.iso">ISO/Film</dt>                <dd>{{activePhoto.iso}}</dd>
        <dt ng-show="activePhoto.category_name">Category</dt>      <dd>{{activePhoto.category_name}}</dd>
        <dt ng-show="activePhoto.taken">Taken</dt>                 <dd>{{activePhoto.taken}}</dd>
      </dl>
      <a href="{{activePhoto.maplink}}" class="google-map" target="_blank">
        <img
          alt="Map of where this photo was taken."
          data-ng-src="{{activePhoto.mappic}}"
        />
      </a>
    </section>

    <section class="comments drawer">
      <a href="" class="close-drawer" ng-click="closeDrawers()">Close</a>
      <h1>Comments</h1>
      <form class="clearfix requires-authentication" ng-submit="postComment()">
        <textarea ng-model="commentValue" placeholder="Add your comment.." rows="5" />
        <input type="submit" />
      </form>
      <p ng-repeat="comment in activePhoto.comments">
        <span class="pic-wrap">
          <span class="curtain"></span>
          <img 
            class="picture"
            alt="{{comment.user.fullname}}'s profile picture"
            data-ng-src="{{comment.userpic_src}}" />
            <span class="badge plus" ng-show="comment.user.upgrade_status == 1">Plus</span>
            <span class="badge awesome" ng-show="comment.user.upgrade_status == 2">Awesome</span>
            <span class="badge admin" ng-show="comment.user.admin">500px</span>
        </span>
        <span class="meta">
          <a
            class="name"
            href=""
            ng-click="setRoute('userview', '/users/' + comment.user.id)">
            {{comment.user.fullname}}
          </a>
          <span class="created-at">{{comment.created_at}}</span>
        </span>
        <span class="body">{{comment.body}}</span>
      </p>
      <a class="more" ng-click="getMoreComments()" href="">More</a><br />&nbsp;
    </section>
    <section>
    <section class="sendEmail drawer">
      <a href="" class="close-drawer" ng-click="closeDrawers()">Close</a>
      <h1>Send Email</h1>
      <form ng-submit="sendEmail()">
        <input ng-model="emailFrom" placeholder="Your e-mail" type="text">
        <input ng-model="emailTo" placeholder="Recipient e-mail" type="text">
        <textarea ng-model="emailMessage" placeholder="Your message"></textarea>
        <input name="emailSend" type="submit" value="Send">
      </form>
    </section>

    <div class="sidebar">
      <div class="options nav-button no-shadow user-avatar">
        <div class="picture-wrapper" data-drawer="user">
          <img class="picture" alt="{{activePhoto.fullname}}'s profile picture" data-ng-src="{{activePhoto.userpic}}" />
          <div class="overlay"></div>
        </div>
        <section class="user mini drawer">
          <a ng-click="setRoute('userview', '/users/' + activePhoto.user.id)">
            <h1>{{activePhoto.user.fullname}}</h1>
            <span>{{activePhoto.user.username}}</span>
            <span class="badge plus" ng-show="activePhoto.user.upgrade_status == 1">Plus</span>
            <span class="badge awesome" ng-show="activePhoto.user.upgrade_status == 2">Awesome</span>
            <span class="badge admin" ng-show="activePhoto.user.admin">500px</span>
          </a><br />
        </section>
      </div>

      <div class="options">
        <label class="details" data-drawer="info"><span>Info</span></label>
        <label class="comment" data-drawer="comments" ng-click="getMoreComments()"><span>{{activePhoto.comments_count}}</span></label>
      </div>
      <div class="options requires-authentication">
        <label class="like short active-{{!!activePhoto.voted}}">
          <a
            href="photos/{{activePhoto.id}}/vote"
            data-method="POST"
            data-param="vote=1"
            data-liked={{activePhoto.voted}}>
            <span>{{activePhoto.votes_count}}</span>
          </a>
        </label>
        <label class="favorite short active-{{!!activePhoto.favorited}}">
          <a
            href="photos/{{activePhoto.id}}/favorite"
            data-method="{{favoriteMethod}}"
            data-favorited={{activePhoto.favorited}}>
            <span>{{activePhoto.favorites_count}}</span>
          </a>
        </label>
      </div>

      <div class="options nav-button share no-shadow">
        <label data-drawer="share"><span>Share</span></label>
        <section class="share mini drawer">
          <p class="share">
            <a class="gplus" href="{{activePhoto.plusUrl}}" target="_blank">Google+</a>
            <a class="facebook" href="{{activePhoto.fbUrl}}" target="_blank">Facebook</a>
            <a class="twitter" href="{{activePhoto.twitterUrl}}" target="_blank">Twitter</a>
            <a class="email requires-authentication"i data-drawer="sendEmail">Email</a>
          </p>
        </section>
      </div>
    </div>
  </footer>
</article>

